
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


    <a class="navbar-brand" href="#">
      </a>
      <div class="nav-info">

        <div class="logo">
          <span class="brand_text leading-loose font-semibold italic mt-0">
            <span class="container left-justify">
              <logo>LaowaiTrip</logo>
                </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-iconn"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
            <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          <%# <a class="nav-link" href="#">Home</a> %>
        </li>

        <%# dropdown %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="" alt="">
          Action
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% if user_signed_in? %>
                  <%= link_to "Profile", profile_path, class: "dropdown-item" %>
                    <a class="dropdown-item" href="#!"></a>
                  <%= link_to "Places", places_path, class: "dropdown-item" %>
                      <a class="dropdown-item" href="#!"></a>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                      <a class="dropdown-item" href="#!"></a>
                <% else %>
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                      <a class="dropdown-item" href="#!"></a>
                <% end %>
                    </div>
                    </div>
                  </li>
                </ul>
              </div>
              </div>
              </div>
            </div>
