<div class="background-svg">
  <div class="card-main">
    <div>
      <h1>MY PROFILE</h1>
    </div>
    <div class="card-main-img">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop:  :thumb, gravity: :face,class:"rounded-circle profile-img" %>
      <% else %>
        <img src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/cm/14/52/5499934cd8ef3_-_hbz-beauty-secrets-lupiita-promo-lgn.jpg" />
      <% end %>
      <div class="email_submit_div">
      <h3> <%= @user.name %>
        </h3>
        <h3> <%= @user.email %>
        </h3>
      <div class="upload-btns">
        <label for="file-upload" class="custom-file-upload">
          <i class="fas fa-images"></i>
        </label>
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :photo, as: :file, label: false, title:"", input_html: { id:"file-upload"} %>
          <%= f.submit 'Confirm', class:"confirm-btn" %>
        <% end %>
        </div>
        </div>
    </div>
    <div class="card-contents">
      <span>

      </span>
      <div class="wishlist-container">
      <div class="list-group-item wishlist p-0"><svg xmlns="http://www.w3.org/2000/svg" class="svg-heart" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
            </svg>
            <h2>Wishlist</h2>
            </div>
            <div class="wishlist_place">
            <% @user.wishlists.each do |w| %>
              <p>- <%= link_to w.place.place_name.truncate(39, separator: '', omission: '...'), place_path(w.place), class:"favorited_place"%></p>
            <% end %>
          </div>
          </div>

  </div>
</div>
</div>
