<div class="container">
<% @places.each do |place| %>
<div class="card mb-3 d-flex d-flex-col">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag "hotel_entrance.jpg", alt: "Le Wagon"%>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text"><%= place.city_name %></p>
        <h5 class="card-title"><%= place.place_name %></h5>
        <p class="card-text"><%= place.description %>.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-2 link">
    <%= link_to "View car", place_path(place),  class: "view_car" %>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>




<%# <div class="flex flex-col" >
<div>1</div>
<div>2</div>
</div> %>

<%# <div class="flex flex-col">
  <div>01</div>
  <div>02</div>
  <div>03</div>
</div> %>
