


<div class="container mt-3">
<% @places.each do |place| %>
<div class="card mb-3 d-flex d-flex-col">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "hotel_entrance.jpg", alt: "Le Wagon", class:"img-fluid rounded-start"%>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="card-body">
        <p class="card-text"><%= place.city_name %></p>
        <h5 class="card-title"><%= place.place_name %></h5>
        <p class="card-text"><%= place.description %>.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-2 link d-flex align-items-center justify-content-center">
    <div class="button">
    <%= link_to "View hotel", place_path(place),  class: "view_hotel" %>
    </div>
    </div>
  </div>
</div>
<% end %>
</div>
