


<h2><%= @place.place_name %>, <%= @place.place_name %></h2>
<% @place.photos.each do |photo|  %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "object-cover h-80 w-full card-image" %>
<% end %>
<p>description:<%= @place.description %></p>
<p>amenities:<%= @place.amenities %></p>
<p>price by night: $<%= @place.price_by_night %></p>
<p>number of rooms: <%= @place.number_rooms %>,</p>
<p>max guests: <%= @place.max_guest %>,</p>
<p>number of bathrooms: <%= @place.number_bathrooms %>,</p>
<div>
<p><%= @place.view %></p>
<div>
  <%= link_to "Link to #{@place.thirdparty} for booking", @place.link, method: :post %>

  <%= link_to image_tag("#{@place.thirdparty}.jpg",  height: '48', width: '48'), "#{@place.link}", alt: "Le Wagon", class:"img-fluid rounded-start"%>

</div>

    <div class="row justify-content-center", id="map"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to 'Favorite', place_wishlists_path(@place), method: :post %>

<%# comment for testing %>
